html {
  font-size: 62.5%;
}
.search {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__form {
  background-color: #000;
  width: 50%;
  border-radius: 1rem;
  padding: 2rem;
}
.search__show {
  width: 95%;
}
.search__input {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  padding: 1.5rem 1rem;
  border: none;
}
.search__input:focus {
  outline: none;
}
.search__label {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  transition: all 0.3s ease;
  margin-top: 0.7rem;
}
.search__input:placeholder-shown + .search__label {
  transform: translateY(-2rem);
  opacity: 0;
  visibility: hidden;
}
